<% layout("layouts/boilerplate") -%>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h3>Edit Listing</h3>
                <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" class="needs-validation"
                    novalidate enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" id="title" name="listing[title]" value="<%= listing.title %>" required
                            class="form-control">
                        <div class="invalid-feedback">Please enter a title.</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea id="description" name="listing[description]" required
                            class="form-control"><%= listing.description %></textarea>
                        <div class="invalid-feedback">Please enter a short description.</div>
                    </div>

                    <div class="mb-3">
                        <b>Your previous image:</b><br>
                        <img src="<%= originalImageUrl %>" alt="" style="width: 250px; border-radius: 1rem;">
                    </div>


                    <div class="mb-3">
                        <label for="image" class="form-label">Upload New Image:</label>
                        <input type="file" id="image" name="listing[image]" class="form-control">
                        <div class="invalid-feedback">Please upload an image.</div>
                    </div>

                    <div class="mb-3">
                        <label for="category" class="form-label">Category:</label>
                        <select class="form-select" id="category" name="listing[category]" required>
                            <option value="">Select a category</option>
                            <option value="Trending">Trending</option>
                            <option value="Rooms">Rooms</option>
                            <option value="Iconic Cities">Iconic Cities</option>
                            <option value="Mountains">Mountains</option>
                            <option value="Amazing Pools">Amazing Pools</option>
                            <option value="Beach">Beach</option>
                            <option value="Amazing View">Amazing View</option>
                            <option value="Lakefront">Lakefront</option>
                            <option value="Camping">Camping</option>
                            <option value="Farms">Farms</option>
                            <option value="Arctic">Arctic</option>
                        </select>
                        <div class="invalid-feedback">Please select a category.</div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price:</label>
                            <input type="number" id="price" name="listing[price]" value="<%= listing.price %>" required
                                class="form-control">
                            <div class="invalid-feedback">Please enter a valid price.</div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country:</label>
                            <input type="text" id="country" name="listing[country]" value="<%= listing.country %>"
                                required class="form-control">
                            <div class="invalid-feedback">Please enter the country.</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" id="location" name="listing[location]" value="<%= listing.location %>"
                            required class="form-control">
                        <div class="invalid-feedback">Please enter the location.</div>
                    </div>

                    <button type="submit" class="btn btn-outline-danger  mt-3">Update Listing</button>
                </form>
            </div>
        </div>
    </body>